/* shrink headerbars (don't forget semicolons after each property) */
headerbar {
  min-height: 0px;
  padding-left: 2px; /* same as childrens vertical margins for nicer proportions */
  padding-right: 2px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
  margin-top: 0px; /* same as headerbar side padding for nicer proportions */
  margin-bottom: 0px;
}

/* shrink ssd titlebars */
.default-decoration {
  min-height: 0; /* let the entry and button drive the titlebar size */
  padding: 0px;
}

window.ssd headerbar.titlebar {
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
  padding-top: 2px;
  padding-bottom:2px;
  min-height: 0;
}
